.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  .navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .navItem {
    margin-right: 1rem;
  }
  
  .navLink {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  
  .logoutButton {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }